
body, html {
    height: 100%;
    width : 100%;
    margin: 0;
}

.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form.f1 {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}


.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group2 {
	margin: 10px 10px 0px 10px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
    border: 1px solid gray;
    
}

input[type=radio]{
    border : 0px;
    width : 100%;
    height: 2em;
}

#example1{
    background: url(images/bg_4.jpg ) ;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 880px;
    position: relative;
    z-index: 0;
}

#example2{
    background: url(images/bg_4.jpg);  
    width : 1686px;
    height: 1103px; 
    background-position: center center;
}


#example3{
    background: url(images/bg_4.jpg);  
    width : 1680px;
    height: 860px; 
    margin: 0 ;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
}




p.a {
    font: 40px Palatino;
    color:white ;
}
p.b {
    font: 24px Palatino;
    Color : silver;
    
}

p.c {
    font: 18px Palatino;
    Color : black;
}

p.d {
    font: 18px Palatino;
    Color : blue;
}

p.e {
    font: 18px Palatino;
    Color : blue;
}



button btn{
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #1a33a1;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.btn2{
    
    padding: 0 20px;
    background: #5F9EA0;
    font-family: 'Roboto', sans-serif;    
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

th {
    border : 1px solid black;
    vertical-align: middle;
    height : 30px;
    weight : 50px;
    background-color: #4CAF50;
    color: black;
}

table {
    align : center;
    border: 1px;
}



tr:nth-child(even) {
    
    border : 1px solid black;
    vertical-align: middle;
    height : 30px;
    weight : 50px;
    background-color: #D3D3D3;
    color: black;
}

tr:nth-child(odd) {
    
    border : 1px solid black;
    vertical-align: middle;
    height : 30px;
    weight : 50px;
    background-color: #e5829e;
    color: white;
}

h1.data1{
    
    text-align:  center;
    color : grey;
}

p.adminlogin{

    vertical-align:middle;
    color : grey;
    
}


